*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 430px) {
  .overlay {
      height: 100%;
      width: 0%;
      position: fixed; 
      z-index: 1; 
      top: 0;
      right: 0;
      background-color: #f0eff1;
      overflow-x: hidden; 
      transition: 0.5s;
  }
  .overlay-content {
      position: relative;
      top: 20%; 
      width: 100%;
      text-align: center; 
      margin-top: 1rem;
  }
  .overlay a {
      padding: 0.6rem;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      font-size: 1.1rem;
      line-height: 1.8rem;
      color: #818181;
      display: block; 
      transition: 0.3s; 
  }
  .open {
      display: flex;
      justify-content: right;
      align-items: center;
  }
  .open-svg {
      cursor: pointer;
      margin-top: 1rem;
      margin-right: 1.3rem;
      fill: #818181;
  }
  .close-svg {
      cursor: pointer;
      margin-top: 1rem;
      margin-right: 1.3rem;
      stroke:#818181; 
      stroke-width: 9;
      stroke-linecap: round; 
  }
  .slideshow-container h1 {
      margin: 0 1rem;
      padding-left: 1.5rem;
      font-weight: normal;
      font-size: 1.25rem; 
      line-height: 2rem;
  }
  .slideshow-container .container p { 
      font-size: 1rem;
      line-height: 1.6rem;  
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    top: 1.3rem;
    margin: auto;
    padding: 0.2rem;
  }
  .container {
    margin: 0.6rem 0.6rem;
  }
  .head {
    display: none;
  }
  .position {
    padding-top: 7em;
  }
}

@media screen and (min-width: 430px) and (max-width: 930px) {
  .overlay {
      height: 100%;
      width: 0%;
      position: fixed; 
      z-index: 1; 
      top: 0;
      right: 0;
      background-color: #f0eff1;
      overflow-x: hidden; 
      transition: 0.5s;
  }
  .overlay-content {
      position: relative;
      top: 0%; 
      text-align: center; 
  }
  .overlay a {
      padding: 0.6rem;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #818181;
      display: block; 
      transition: 0.3s; 
  }
  .open {
      display: flex;
      justify-content: right;
      align-items: center;
  }
  .open-svg {
      cursor: pointer;
      margin-top: 1rem;
      margin-right: 1.3rem;
      fill: #818181;
  }
  .close-svg {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.3rem;
    stroke:#818181; 
    stroke-width: 9;
    stroke-linecap: round; 
  }
  .slideshow-container h1 {
    margin: 0 1rem;
    padding-left: 1.5rem;
    font-weight: normal;
    font-size: 1.375rem; 
    line-height: 2rem;
  }
  .slideshow-container .container p {
    font-size: 1.125rem;     
    line-height: 1.6rem;  
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    top: 1.3rem;
    margin: auto;
    padding: 0.2rem;
  }
  .container {
    margin: 0.6rem 0.6rem;
  }
  .head {
    display: none;
  }
  .position {
    padding: 4em 2em;
  }
}

@media screen and (min-width: 930px) {
  body {
    background: #fff;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.125em; 
    padding-top: 1.125em;
  }
  .overlay-content {
    display: flex;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: #ddd;
    border-radius: 5px;
  }
  .navigation li {
    font-size: 1.2rem;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #333;
  }
  .navigation a:hover {
    color: #888;
  }
  a.reactive {
    color: #888;
  }

  .content {
    display: flex;
    flex-flow: row wrap;  
  }
  .head {
    padding: 1em 0 0 0.9em;
  }
  .item {
    line-height: 1.8em; 
  }
  .item h1 {
    padding-left: 1rem;
  }
  .navigation, .head, .item {
    flex-basis: 70%;
    margin: auto;
    margin-left: 7.8em;
  }

  h1, h2, h3 {
    font-weight: normal;
  }
  h1 {
    font-size: 1.25em;
    line-height: 2.25em;
  }
  h2 {
    font-size: 1.125em; 
    line-height: 2em;
  }
  h3 {
    font-size: 1em; 
    padding: 0 0 0.4em 0.6em;
  }
  p { 
    font-size: 1em;   
    line-height: 1.6rem;        
  }
  .open {
    display: none;
  }
  .position {
    padding: 5em;
  }
}

#main {
  transition: margin-left .5s;
  padding: 0.1rem;
} 
.dots {
  text-align: center;
  margin: 0.6rem 1.6rem;
  padding: 2rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  box-shadow: 0 0 2px 1px black;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
.italic {
  font-size: 0.937em; 
  font-style: italic;
}
.books {
  line-height: 30%;
}
table {
  border-collapse: collapse;  
  margin-left: 0px;
}
td {
  font-size: 0.875em;
  padding: 5px 18px 5px 18px; 
  border-bottom:1px solid #ccc; 
  line-height: 16px;
}
.list {
  list-style-type: none;
  font-size: 1rem;
}
.list li::before {
  content: "\2022";
  color: #888;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 2em;
}  

 /* Without windows resize using JS but CSS  */
 /* TO BE TESTED */
