


/* *, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Grid Mobile */

body {
  display: grid;
  grid-template-columns: 1fr;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open-Sans', sans-serif; */
  /* font-size: 100%; */
  /* font-weight: 400; */
} 

/* header {
  padding: 0.5rem 0;
} */

/* Navigation */

/* nav {
  background-color: white;
  border-radius: 3px;
} */

/* .nav {
  display: none;
} */

/* .nav {
  text-align: center;
  padding: 0.6em 2em 1em 2em;
  background-color: white;
} */

/* .open {
  display: block;
} */

/* .navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .nav-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

/* ul > li > a { */
  /* border: 2px solid plum; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open-Sans', sans-serif; */
  /* font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: darkslateblue;
  font-weight: 500;
} */

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48;
  font-size: 1.8em;
} */



/* Simple dark */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  /* background-color: #1f2937; */
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  /* border: 2px solid #1f2937; */
  border: 2px solid #f9fafb;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .menu-button:focus { */
  /* border: 2px solid #6b7280; */
  /* border: 2px solid #6366f1;
  border-radius: 6px;
} */

@media (hover: hover) {
  .menu-button:focus {
    /* border: 2px solid #6b7280; */
    border: 2px solid #6366f1;
    border-radius: 6px;
  }
}

.menu-icon {
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon svg {
  width: 26px;
  height: 26px;
  /* stroke: #9ca3af; */
  stroke: #6b7280;
  transition: fill 0.3s ease; 
}

.menu-icon:hover {
  /* background-color: #374151; */
  background-color: #edf2f7;
  border-radius: 6px;
  padding: 6px;
}

.menu-icon:hover path {
  stroke: black;
}

.cross {
  display: none;
}

.hidden {
  display: none;
}

.mobile-menu {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  border-radius: 3px;
  margin-top: 3px;
}

ul li a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.0625rem;
  line-height: 1.5rem; 
  font-weight: 500;
  color: #6b7280;
}

.active {
  background-color: #e0e7ff;
}

.active a {
  color: #4338ca;
}

ul li:hover {
  background-color: #f3f4f6;
}

ul li a:hover {
  color: #374151;
}

.logo {
  margin-left: 0.5rem;
  padding: 0.4rem;
}

.logo a {
  text-decoration: none;
  color: #6b7280;
}

.kalam {
  font-family: 'Kalam';
  font-size: 2rem;
  letter-spacing: 2px;
}

.logo a:hover {
  color: #1f2937;
}


/* main {
  border: 2px solid red;
} */

.up {
  padding-top: 5rem;
}

.indent {
  margin-left: 1.5rem;
}

.one {
  margin: 2rem;
  /* padding-top: 5rem; */
}

.two {
  margin: 2rem;
  text-align: end;
}

/* Accordion */

.accordion__title {
  background-color: #f9fafb;
  /* background-color: #1f2937; */
  color: black;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.125em;
  height: 4em;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.1em;
  border-radius: 6px;
}

.accordion__item:first-child{
  margin-top: 1em;
}

.accordion__item:last-child {
  margin-bottom: 2em;
}

.is-open .accordion__body {
  margin: 0.625em;
}

.accordion__body {
  height: 0;
  /* overflow: hidden; */
  overflow: scroll;
  transition: height 0.5s ease-in-out;
}

/* .activation, .accordion__title:hover {
  background-color: #e5e7eb;
} */

@media (hover: hover) {
  .accordion__title:hover {
    background-color: #e5e7eb;
  }
}

.activation {
  background-color: #e5e7eb;
}

.accordion__title > span {
  float: right;
}

.display {
  display: none;
}

.material-symbols-outlined.span {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 1.3em; 
}

.span {
  color: #6b7280;
}

.accordion__title:hover > *
{
  color: #1f2937;
}

/* Text */

article > p {
  line-height: 1.6;
  color: #333;
}

.italic {
  font-size: 0.9375rem; 
  font-style: italic;
  font-weight: 400;
}

@media only screen and (orientation: landscape) {
  .index {
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
  }

  .up {
    padding-top: 0;
  }

  /* .indent {
    margin-left: 1.5rem;
  } */

  .one {
    /* border: 2px solid red; */
    margin: 2rem;
    /* padding-top: 5rem; */
  }

  /* .two {
    margin: 2rem;
    text-align: end;
  } */
}

@media only screen and (min-width: 65em) {
  body {
    background-color: lightblue;
  }
}


/* @media only screen and (orientation: landscape) {

  .nav-button {
    display: none;
  }  

  .navigator {
    display: block;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    text-align: center;
    margin: 1em 0 -0.5em 0;
  }

  li:hover {
    color: darkslateblue;
}

  nav ul li a {
      text-decoration: none;
      padding: 1em;
      color: inherit;
  } 

  .active {
    color: darkslateblue;
  }

  main {
    width: 90%;
    margin: 0 auto;
  }

  .one {
    margin: 1rem;
    padding-top: 3rem;
  }
  
  .two {
    margin: 1rem;
    padding-top: 1rem;
    text-align: end;
  }

} */

/* @media only screen and (min-width: 65em) {

  body {
    display: grid;
    grid-template-columns: 1fr minmax(80%, 90%) 1fr;
  }

  header, nav, main, footer {
      grid-column: 2 / 3;
  }

  .nav-button {
    display: none;
  }  

  .navigator {
    display: block;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    text-align: center;
    margin: 3em 0 3em 0;
  }

  nav ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  nav ul li {
      float: left;
      border-right: 1px solid #aaa;
      box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
      color: #333;
      font-size: 1em;
      font-weight: 400;
      transition: all 0.5s linear;
      padding: 0.5em 1em;
      background-color: #eee;
  }

  li:first-child {
      border-radius: 5px 0 0 5px;
  }

  li:last-child {
      border-right: none;
      border-radius: 0 5px 5px 0;
  }

  li:hover {
      background-color: #ddd;
      color: darkslateblue;
  }

  nav ul li a {
      text-decoration: none;
      color: inherit;
  } 

  .active {
    background-color: #eee;
    color: darkslateblue;
  }

  main {
    max-width: 60em;
    margin: 0 auto;
  }

} */


