
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Grid Mobile */

body {
  display: grid;
  grid-template-columns: 1fr;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open-Sans', sans-serif; */
  /* font-size: 100%; */
  font-weight: 400;
}

header {
  padding: 0.5rem 0;
}

/* Navigation */

nav {
  background-color: white;
  border-radius: 3px;
}

.nav {
  display: none;
}

.nav {
  /* border: 3px solid lime; */
  text-align: center;
  padding: 0.6em 2em 1em 2em;
  background-color: white;
}

.open {
  display: block;
}

.navigator {
  /* border: 3px solid plum; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* margin: .4em; */
}

.nav-button {
  /* border: 3px solid lightcoral; */
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul > li > a {
  /* border: 2px solid plum; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open-Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Raleway', sans-serif; */

  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.8em;
  color: black;
  font-weight: 500;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48;
  font-size: 1.8em;
}

main {
  /* border: 3px solid plum; */
}

.indent {
  margin-left: 1.5rem;
}

.one {
  /* border: 3px solid orange; */
  margin: 2rem;
  padding-top: 5rem;
}

.two {
  /* border: 3px solid orangered; */
  margin: 2rem;
  padding-left: 13rem;
}

/* Accordion */

.accordion__title {
  /* border: 2px solid orange; */
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 1.125em;
  height: 4em;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.1em;
  border-radius: 3px;
}

.accordion__item:first-child{
  /* border: 2px solid black; */
  margin-top: 1em;
}

.accordion__item:last-child {
  margin-bottom: 2em;
}

.is-open .accordion__body {
  margin: 0.625em;
}

.accordion__body {
  /* border-radius: 5px; */
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.activation, .accordion__title:hover {
  background-color: #ddd;
}

.accordion__title > span {
  /* border: 2px solid plum; */
  float: right;
}

.display {
  display: none;
}

.material-symbols-outlined.span {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 1.3em;
}

/* Text */

article > p {
  line-height: 1.6;
  color: #333;
}

.italic {
  font-size: 0.9375rem; 
  font-style: italic;
  font-weight: 400;
}

@media only screen and (orientation: landscape) {

  /* nav {
    background-color: white;
  } */

  .nav-button {
    display: none;
  }  

  .navigator {
    display: block;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    /* border: 2px solid orangered; */
    /* display: block; */
    text-align: center;
    margin: 1em 0 -0.5em 0;
    /* background-color: #ddd; */
  }

  li:hover {
    /* background-color: #eee; */
    color: tomato;
}

  nav ul li a {
      text-decoration: none;
      padding: 1em;
      color: inherit;
  } 

  .active {
    /* background-color: #eee; */
    color: tomato;
  }

  main {
    width: 98%;
    margin: 0 auto;
  }

  h1 {
    display: none;
  }

}

@media only screen and (min-width: 65em) {

    /* Grid landscape */

  body {
    /* background-color: #ddd; */
    display: grid;
    /* grid-template-columns: 1fr minmax(44em, 60em) 1fr; */
    grid-template-columns: 1fr minmax(80%, 90%) 1fr;
  }

  header, nav, main, footer {
      grid-column: 2 / 3;
  }

  /* Styles landscape */

  .nav-button {
    display: none;
  }  

  .navigator {
    display: block;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    /* display: block; */
    text-align: center;
    margin: 3em 0 3em 0;
    /* background-color: #ddd; */
  }

  nav ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  nav ul li {
      float: left;
      border-right: 1px solid #aaa;
      box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
      color: #333;
      font-size: 1em;
      font-weight: 400;
      transition: all 0.5s linear;
      /* text-transform: uppercase; */
      padding: 0.5em 1em;
      background-color: #eee;
  }

  li:first-child {
      border-radius: 5px 0 0 5px;
  }

  li:last-child {
      border-right: none;
      border-radius: 0 5px 5px 0;
  }

  li:hover {
      background-color: #ddd;
      color: tomato;
  }

  nav ul li a {
      text-decoration: none;
      /* padding: 2em; */
      color: inherit;
  } 

  .active {
    background-color: #eee;
    color: tomato;
  }

  main {
    /* width: 90%; */
    max-width: 60em;
    margin: 0 auto;
  }

}


